<h2>User Details</h2> 

<dl class="dl-horizontal"> 
  <dt><strong>Full Name</strong></dt> 
  <dd><%= @user.full_name %></dd> 
  <dt><strong>Email</strong></dt> 
  <dd><%= @user.email %></dd> 
</dl> 

<% if @user.stocks.size > 0 %> 
  <%= render 'stocks/list' %> 
<% else %> 
  <p class="lead">This user is not tracking any stocks</p> 
<% end %> 

<%= link_to "Back", my_friends_path, class: "btn btn-primary" %>

<% if @user_friends.size > 0 %>
<table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3" class="page-header">
          <h2>My Friends</h2>
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user_friends.each do |friend| %>
        <tr>
          <td><%= friend.full_name %></td>
          <td><%= friend.email %></td>
          <td>
            <%= link_to "View Profile", user_path(friend.id), class: "btn btn-primary btn-xs" %>
            <% if @user.id == current_user.id %>
            <%= link_to "Remove Friend", friendship_path(friend), method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-xs btn-danger" %>
             <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  <table>  
<% else %>
  <div class="row col-lg-12">
    <p class="lead">
      User has no friends!
    </p>
  </div>
<% end %>
















